@using WebPanit.Models;
@model TradeMark 

<div class="category-panit">
    <div class="title">
        HỆ THỐNG SẢN PHẨM @Model.Name
        <a href="@Url.Action("ListProduct","Home",new { tradeMarkID=Model.Id,name=Html.ConvertToUnSign(Model.Name) })" class="childrent">Xem tất cả <i class="fas fa-caret-right ml-2"></i></a>
    </div>
    <hr />
    <div class="row justify-content-center no-gutter8">
        @foreach (Product product in Model.Products.Take(5))
        {
            <div class="col-6 col-md-4 col-lg mb-3">
                @Html.Partial("ProductCardPartial",product)
            </div>
        } 
    </div>
</div>
