@using WebPanit.Models;
@model IEnumerable<LibraryImage> 
@{
    ViewBag.Title = "Thư viện ảnh nhà đẹp";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
<div class="breadcrumb table-paint">
    <a href="@Url.Action("Index","Home")" class="mb-2"><i class="fas fa-home"></i></a>
    <span class="mb-2">Thư viện ảnh nhà đẹp</span>
</div>

<div class="row">
    @foreach (LibraryImage library in Model)
    {
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <a href="~/Images/LibraryImages/@library.Avatar" data-fancybox="images">
                    <img src="~/Images/LibraryImages/@library.Avatar" class="card-img-top" />
                </a>
            </div>
        </div>
    }
</div>

@section scripts{
    <script src="~/Scripts/jquery.fancybox.min.js"></script>
    <script>
        $('[data-fancybox="images"]').fancybox({
            afterLoad: function (instance, current) {
                var pixelRatio = window.devicePixelRatio || 1;

                if (pixelRatio > 1.5) {
                    current.width = current.width / pixelRatio;
                    current.height = current.height / pixelRatio;
                }
            }
        });
    </script>
}
