
<div class="footer">
    <div class="footer-start ">
        <div class="container">
            <div class="title text-center">
                Nhận thông tin của chúng tôi
            </div>
            <div class="input-group text-center">
                <input class="form-control" placeholder="NHẬP EMAIL CỦA BẠN" />
                <button class="btn btn-post-email">
                    NHẬP TIN
                </button>
            </div>
        </div>
    </div>
    <div class="footer-end">
        <div class="container">
            <div class="row">
                <div class="col-7 col-md-4 information">
                    <a href="#"><img src="~/Images/Icon-groups/Logo_bottom.svg" class="img-fluid" /></a>
                    <div class="support">
                        Gọi Dịch vụ khách hàng, chúng tôi hỗ trợ 24/7:<br />
                        <div class="phone-number"><a href="#">0123-456-789</a></div>
                        Địa chỉ :<br />
                        <div class="address"><a href="#">PO Box 1622 Vissaosang Phố Tây</a></div>
                        <div class="icon-group">
                            <a href="#" class="mr-3 mr-lg-4"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="mr-3 mr-lg-4"><i class="fab fa-twitter "></i></a>
                            <a href="#" class="mr-3 mr-lg-4"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-5 col-md-2 service">
                    <div class="title">
                        VỀ CHÚNG TÔI
                    </div>
                    <ul>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#"> Điều khoản và dịch vụ </a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Thanh toán</a></li>
                    </ul>
                </div>
                <div class="col-5 col-md-3 service">
                    <div class="title">
                        DỊCH VỤ KHÁCH HÀNG
                    </div>
                    <ul>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                        <li><a href="#">Giúp đỡ và tư vấn</a></li>
                        <li><a href="#">Vận chuyển và trả hàng</a></li>
                        <li><a href="#">Các điều khoản và điều kiện</a></li>
                        <li><a href="#">Chính sách hoàn tiền</a></li>
                    </ul>
                </div>
                <div class="col-5 col-md-3 about">
                    <div class="title">
                        Khách hàng cần biết
                    </div>
                    <ul>
                        <li><a href="#">Khuyến mại</a></li>
                        <li><a href="#">Hồ sơ thi công</a></li>
                        <li><a href="#">Chính sách đại lý </a></li>
                        <li><a href="#">Hồ sơ năng lực </a></li>
                        <li><a href="#">Khách hàng tiêu biểu</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row contact">
                <div class="col-12 col-md-8 text-left">
                    ©Copyright by SKEY 2020. All right Reserved. Designed by Vicogroup.vn
                </div>
            </div>
        </div>
    </div>
</div>