<ul class="accordion fade" id="menu-mobile">
    <li class="text-right">
        <a href="javascript:;" onclick="CloseMenuMobile()" class="btn btn-dark text-white">
            x
        </a>
    </li>
    <li class="d-block d-sm-none icon-group">
        <a href="#"><i class="fab fa-facebook-f mr-3"></i></a>
        <a href="#"><i class="fab fa-youtube mr-3"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </li>
    <li>
        <a href="#">Nhận tư vấn ngay: <br><span>0123-456-789</span></a>
    </li>
    <li class="list-title">
        <i class="far fa-bars mr-3"></i>Tất cả danh mục
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
            <i class="fad fa-chevron-circle-right  mr-2"></i>  Sơn DULUX - MAXILITE
        </a>
        <ul id="collapse-1" class="collapse" aria-labelledby="headingOne" data-parent="#menu-mobile">
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li><a href="#">abc</a></li>
        </ul>
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
            <i class="fad fa-chevron-circle-right  mr-2"></i>  Sơn JOTUN
        </a>
        <ul id="collapse-2" class="collapse" aria-labelledby="headingOne" data-parent="#menu-mobile">
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li><a href="#">abc</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-2">
            <i class="fad fa-chevron-circle-right  mr-2"></i>Sơn JOTUN
        </a>
        <ul id="collapse-3" class="collapse" aria-labelledby="headingOne" data-parent="#menu-mobile">
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li><a href="#">abc</a></li>
        </ul>
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-2">
            <i class="fad fa-chevron-circle-right  mr-2"></i>Sơn KOVA
        </a>
        <ul id="collapse-4" class="collapse" aria-labelledby="headingOne" data-parent="#menu-mobile">
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li>
                <a href="#">abc</a>
            </li>
            <li><a href="#">abc</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Sơn NIPPON </a>
    </li>
    <li>
        <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Sơn SKEY - EZON</a>
    </li>
    <li>
        <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Các hãng sơn khác</a>
    </li>
</ul>
