<div class="menu d-none d-lg-block">
    <ul class="accordion" id="accordionExample">
        <li class="list-title d-block d-xl-none">
            <i class="far fa-bars mr-3"></i>Tất cả danh mục
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                <i class="fad fa-chevron-circle-right  mr-2"></i>  Sơn DULUX - MAXILITE
            </a>
            <ul id="collapse-1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li><a href="#">abc</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                <i class="fad fa-chevron-circle-right  mr-2"></i>  Sơn JOTUN
            </a>
            <ul id="collapse-2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li><a href="#">abc</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-2">
                <i class="fad fa-chevron-circle-right  mr-2"></i>Sơn JOTUN
            </a>
            <ul id="collapse-3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li><a href="#">abc</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#collapse-4" aria-expanded="true" aria-controls="collapse-2">
                <i class="fad fa-chevron-circle-right  mr-2"></i>Sơn KOVA
            </a>
            <ul id="collapse-4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li>
                    <a href="#">abc</a>
                </li>
                <li><a href="#">abc</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Sơn NIPPON </a>
        </li>
        <li>
            <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Sơn SKEY - EZON</a>
        </li>
        <li>
            <a href="#"><i class="fad fa-chevron-circle-right  mr-2"></i>Các hãng sơn khác</a>
        </li>
    </ul>
    <div class="category-panit">
        <div class="title">
            BÀI ĐĂNG GẦN ĐÂY
        </div>
        <hr />
        @for (int i = 0; i < 5; i++)
        {
            <div class="media">
                <a href="#"><img src="~/Images/Post/Rectangle 38.svg" class="mr-2" /></a>
                <div class="media-body">
                    <div class="content">
                        <a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing</a>
                    </div>
                    <div class="create-date">
                        <i class="far fa-calendar-alt mr-2"></i>  25/02/2020
                    </div>
                </div>
            </div>
        }
    </div>

</div>
