@using WebPanit.Models;
@model Product

<div class="card">
    <a href="@Url.Action("ProductDetail","Home",new { id=Model.Id,name=Html.ConvertToUnSign(Model.Name) })" class="image">
        <img src="~/Images/Products/@Model.Images.Split(';')[0]" class="img-fluid" />
    </a>
    <div class="card-body text-center">
        <div class="product-name">
            <a href="@Url.Action("ProductDetail","Home",new { id=Model.Id,name=Html.ConvertToUnSign(Model.Name) })">
                @Model.Name
            </a>
        </div>
        <div class="product-price">
            @Model.Price.ToString("#,##") vnđ
        </div>
    </div>
</div>

