
<div class="card">
    <a href="#" class="image"><img src="~/Images/Product/Rectangle 72.svg" class="img-fluid" /></a>
    <div class="card-body text-center">
        <div class="product-name">
            <a href="#">Z98 - DULUX INSPIRE MỜ NGOẠI THẤT BỀN ĐẸP MÀU TỰ CHỌN (18L)</a>
        </div>
        <div class="product-price">
            2,580,000đ
        </div>
    </div>
</div>

