*, *::after, *:before {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Black.otf');
    font-family: Francisco-900;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Bold.otf');
    font-family: Francisco-700;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Light.otf');
    font-family: Francisco-300;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Medium.otf');
    font-family: Francisco-500;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Regular.otf');
    font-family: Francisco-400;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Thin.otf');
    font-family: Francisco-100;
}

@font-face {
    src: url('/Content/Font/San Francisco/SanFranciscoDisplay-Semibold.otf');
    font-family: Francisco-600;
}

@font-face {
    src: url('/Content/Font/webfonts/fa-regular-400.woff');
    font-family: fontawesome;
}
@font-face {
    src: url('/Content/Font/Segoe UI/Segoe UI.ttf');
    font-family:Segoe;
}
@font-face {
    src: url('/Content/Font/webfonts/fa-solid-900.woff');
    font-family: fontawsome;
}

$color-brown-bold: #603813;
$color-yellow-bold: #CF8A00;
$color-white: #FFFFFF;
$color-black: #2E2E2E;
$color-blue: #0869BD;
$color-gray-50: #9B9B9B;
$color-gray: #676767;
$color-gray-regular: #949494;
$color-red: #CF2A0E;
$color-gray-menu: #E5E5E5;
$color-gray-bold:#7E7E7E;
$color-border-card: #D9D9D9;
$color-black-max: #000000;
$color-price-product: #FF0000;
$color-background-body: #E5E5E5;
/*$color-icon: linear-gradient(90deg, #00D29F 0%, #009CC7 12.5%, #2E6CBA 29.17%, #85348D 47.4%, #D30164 65.1%, #D4662E 83.33%, #FFE300 100%);*/
$color-icon: linear-gradient(90deg, #00D29F 0%, #009CC7 12.5%, #2E6CBA 29.17%, #85348D 47.4%, #D30164 65.1%, #D4662E 83.33%, #FFE300 100%);
$color-backgorund-product: #F5F5F5;
$color-tab: #858585;

.form-control{
    max-width:none;
}
@media(min-width:1300px){
    .container {
        max-width: 1200px;
        padding: 0;
    }
}
.mr-20{
    margin-right:1.25rem;
}
.no-gutter2 {
    margin-right: -2px;
    margin-left: -2px;

    [class*="col-"] {
        padding-right: 2px;
        padding-left: 2px;
    }
}
.no-gutter8 {
    margin-right: -0.5rem;
    margin-left: -0.5rem;

    [class*="col-"] {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.no-gutter13 {
    margin-right: -0.7rem;
    margin-left: -0.7rem;

    [class*="col-"] {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}

ul {
    position: relative;
    margin: 0;
    padding: 0;

    &.list-group-horizontal {
        li{
            display:inline-block;
        }
    }

    li {
        list-style: none;
    }
}
.card {
    border: 1px solid #D9D9D9;

    a.image {
        overflow: hidden;
        position: relative;

        img {
            transition: 0.6s;
        }

        &:hover {
            img {
                transform: scale(1.2,1.2);
            }

            &::before {
                animation: goto 0.5s linear;
                opacity: 1;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-color: rgba(52, 73, 94, 0.45);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 14;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }

    .card-body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .product-name {
            margin-bottom: 0.5rem;

            a {
                font-family: Francisco-400;
                font-size: 1rem;
                line-height: 1.2rem;
                text-align: center;
                color: $color-black-max;
            }
        }

        .product-price {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.4rem;
            color: $color-price-product;
        }

        .create-date {
            font-family: Francisco-400;
            font-size: 0.8rem;
            line-height: 1rem;
            font-size: 13px; 
            color: #949494; 
        }
    }
}
@keyframes goto {
    from {
        transform: translateX(-100%) translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}
.body {
    background: $color-background-body;
}
.list-product {
    background: $color-backgorund-product;
}

/* header */
header {
    background: $color-black;
    padding: 0.75rem;

    a {
        font-family: Francisco-400;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $color-white;
    }
}
.header-top {
    .top {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;

        .input-group {
            background: $color-white;
            border: 1px solid $color-gray-50;
            box-sizing: border-box;
            border-radius: 3px;

            .input-group-prepend {
                width: 30%;

                select {
                    text-align: left;
                    border-right: 1px solid $color-gray-50 !important;
                    z-index: 10; 
                    font-size: 1rem;
                    transition: 0.5s;
                    border-radius:0;
                    &:after {
                        position: absolute;
                        right: 5%;
                        bottom: 45%;
                    }
                }
            }

            select,
            .form-control,
            .btn.btn-search {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 0.81rem;
                line-height: 0.94rem;
                outline: none;
                color: $color-gray-regular;

                &:focus {
                    box-shadow: none;
                }
                i{
                    padding:40% 0;
                }
            }

            .form-control {
                max-width: none;
            }
        }

        .btn-phone-number {
            font-family: Francisco-400;
            font-size: 0.75rem;
            line-height: 1.5rem;
            text-align: center;
            color: $color-white;
            background: $color-red;

            span {
                font-family: Francisco-500;
                font-size: 1.1rem;
            }
        }

        a.menu-mobile {
            color: $color-black-max;
        }
    }
}
#menu-mobile {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    bottom: 0;
    width: 30%;

    li.icon-group {
        text-align: center;

        a {
            i:before {
                color: $color-gray-bold;
            }
        }
    }
}
/* /Header */

/* index */
.banner-menu {
    background: linear-gradient(90deg, #00D29F 0%, #009CC7 12.5%, #2E6CBA 29.17%, #85348D 47.4%, #D30164 65.1%, #D4662E 83.33%, #FFE300 100%);

    .menu {
        padding: 1rem .625rem 1.1rem 1.75rem;
        border: none;
        background: $color-yellow-bold;
        color: $color-white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        color: $color-white;
        height:100%;
        width:86%;
    }

    ul.list-group-horizontal {

        li {
            padding: 0.9rem 0.5rem;

            a {
                font-family: Francisco-500;
                font-size: 0.875rem;
                line-height: 1.1rem;
                color: $color-white;
                transition: 0.5s;

                &:hover {
                    color: $color-yellow-bold;
                }
            }

            &:last-child {
                padding-right: 0;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }
}
.body {
    .menu {
        ul.accordion {  
            margin-bottom:0!important;  
        }  
    }
}
ul.accordion {
    z-index: 10;
    border-left: 1px solid $color-gray-menu;
    border-right: 1px solid $color-gray-menu;
    border-bottom: 1px solid $color-gray-menu;
    background: $color-white;

    li.list-title {
        padding: 1rem .625rem 1.1rem 1.75rem;
        border: none;
        background: $color-yellow-bold;
        color: $color-white;
        width: 101%;
        margin-left: -1px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.2rem;
        color: $color-white;
    }

    li {
        padding: 0.625rem 0.625rem 0.625rem 1.75rem;

        &:last-child {
            margin-bottom: 1.3rem;
        }

        a {
            font-family: Francisco-500;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $color-gray-bold;
            transition: 0.3s;

            i {
                position: relative;
                outline: none;
                font-size: 1.4rem;

                &:before {
                    position: absolute;
                    content: "\f13a";
                    color: $color-white;
                }

                &::after {
                    content: "\10f13a";
                }
            }

            &:hover {
                color: $color-yellow-bold;
            }

            &.collapsed {
                i {
                    &:before {
                        content: "\f138";
                    }

                    &::after {
                        content: "\10f138";
                    }
                }
            }
        }

        ul {
            li {
                padding: 0.3rem 0.3rem 0.3rem 1.75rem;

                a {
                    font-family: Francisco-400;
                    font-size: 0.8rem;
                    line-height: 1.2rem;
                    color: $color-gray-bold;
                }
            }
        }
    }
}

.partner{
    margin-bottom:2.5rem;
    .card{
        height:7rem; 
        justify-content:center;
        padding-left:1rem;
        padding-right:1rem;
    }
}
.category-panit {
    margin-bottom: 2.8rem;

    .title {
        position: relative;
        font-family: Francisco-600;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 0.7rem;

        &:after {
            content: '';
            position: absolute;
            border-top: 2px solid $color-yellow-bold;
            bottom: -1rem;
            width: 10%;
            z-index: 5;
            left: 0;
        }

        a {
            font-family: Francisco-400;
            font-size: 0.875rem;
            line-height: 1.1rem;
            text-decoration-line: underline;
            color: #404040;

            &.childrent {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    .media{
        img{
            width:5rem; 
            height:auto;
            object-fit:contain;
        }
    }
}
.library-img {
    padding-bottom: 3.875rem;

    .title {
        font-family: San Francisco Display;
        font-style: normal;
        font-weight: 300;
        font-size: 2.25rem;
        line-height: 2.625rem;
        color: $color-black-max;
    }

    .icon {
        margin-bottom: 2rem;
        font-size: 2.25rem;
        /*background: -webkit-linear-gradient(#00D29F, #009CC7,#2E6CBA,#85348D,#D30164,#D4662E);*/
        background: $color-icon;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width:3rem;
        margin-left:auto;
        margin-right:auto;
    }

    .parent {
        padding: 1rem 1.2rem;
        background: $color-white;
        margin-bottom: 2.25rem;

        .card {
            border: none;
        }
    }

    .read-all {
        font-family: Segoe;
        border: 1px solid $color-yellow-bold;
        box-sizing: border-box;
        font-size: 0.875rem;
        line-height: 1.2rem;
        color: $color-yellow-bold;
        text-transform: uppercase;
        padding: 1rem 3.875rem;
        outline: none;
        transition: 0.5s;

        &:hover {
            background: $color-yellow-bold;
            color: $color-white;
        }
    }
}
.feed-back {
    background-image: url(/Images/Customers/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 4.375rem;
    padding-bottom: 6.125rem;

    .title {
        font-family: Francisco-300;
        font-size: 2.25rem;
        line-height: 2.63rem;
        color: $color-black-max;
        text-align: center;
        margin-bottom: .75rem;
    }

    .icon {
        margin-bottom: 2rem;
        font-size: 2.25rem;
        background: $color-icon;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 3rem;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
    }

    #carouselExampleControls {
        max-width: 38.5%;
        margin: 0 auto;

        .carousel-inner {
            img {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                object-fit: cover;
            }

            .content {
                font-family: Francisco-400;
                font-size: 0.875rem;
                line-height: 1.3rem;
                color: $color-black-max;
                margin-top: 1.75rem;
                margin-bottom: 2.625rem;
            }

            .name {
                font-family: Francisco-500;
                font-size: 1.2rem;
                line-height: 2.63rem;
                color: $color-black-max;
                margin-bottom: 0.25rem;
            }

            .subject {
                font-family: Francisco-400;
                font-size: 0.925rem;
                line-height: 1.45rem;
                color: $color-black-max;
            }
        }

        .carousel-control-prev {
            left: -14%;
            color: $color-yellow-bold;
        }

        .carousel-control-next {
            right: -14%;
            color: $color-yellow-bold;
        }
    }
}
/* /index */

/* produc */
.body {
    .menu {
        width: 86%;
        margin-top: 0;
        height: 100%;

        ul.accordion {
            height: 100%!important;
            margin-bottom: 3.25rem;
        }
    }
}

.list-product,
.body {
    .menu {
        width: 86%;
        margin-top: 0; 

        ul.accordion {
            height: auto;
            margin-bottom: 3.25rem;
        }

        .category-panit {
            .title {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 1.125rem;
                line-height: 1.4rem;
                color: $color-black-max;

                &:after {
                    width: 50%;
                    border-top: 3px solid $color-yellow-bold;
                }
            }

            .media {
                position: relative;
                margin-bottom: 3rem;

                &:not(:last-child):after {
                    content: '';
                    position: absolute;
                    border: 1px dashed #CDCDCD;
                    width: 100%;
                    bottom: -1.75rem;
                }

                .media-body {
                    .content {
                        a {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            color: $color-black-max;
                        }
                    }

                    .create-date {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 0.625rem;
                        line-height: 1.25rem;
                        color: #CDCDCD;
                    }
                }
            }
        }
    }

    .breadcrumb {
        background: none;

        a {
            font-family: Francisco-400;
            font-size: 1rem;
            line-height: 1.2rem;
            color: #838383;

            &:after {
                content: "/";
                margin-left: 0.7rem;
                margin-right: 0.3rem;
            }
        }

        span {
            color: #D7C18B;
            margin-top: -2px;
        }

        &.table-paint {
            span {
                color: #838383;
            }
        }
    }
}
/* /product */

/* product detail */
.post-wrapper{
    margin-left:-0.6rem;
    margin-right:-0.6rem;
    .post{
        padding-left:0.6rem;
        padding-right:0.6rem;
    }
}
.slider-nav {
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    margin-top:1.5rem;
    margin-bottom:3.5rem;
    .slide {
        padding-left:0.4rem;
        padding-right:0.4rem;
    }
}

.detail {
    .information {
        .name {
            font-family: Francisco-500;
            font-size: 1.125rem;
            line-height: 1.4rem;
            color: $color-black-max;
            margin-bottom: 3.5rem;
        }

        ul.description {
            padding-left: 1rem;

            li {
                list-style: disc;
                color: $color-yellow-bold;
                font-family: Francisco-500;
                font-size: 1rem;
                line-height: 1.2rem;
                margin-bottom: 1.2rem;

                span:first-child {
                    color: $color-black-max;
                }

                span:last-child {
                    font-family: Francisco-400;
                    color: $color-black-max;
                }
            }
        }

        .product-price {
            font-family: Francisco-700;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: #F91515;
            margin-bottom: 1.75rem;

            u {
                font-size: 0.875rem;
                line-height: 1.025rem;
                text-decoration-line: line-through;
                color: #454545;
                align-self: center;
            }
        }

        .btn-buy-product {
            padding: 1rem 3.125rem;
            font-family: Francisco-700;
            font-size: 0.875rem;
            line-height: 1.025rem;
            color: $color-white;
            background-color: $color-yellow-bold;
            border-radius: 0.3em;
            transition: 0.5s;

            &:hover {
                background: $color-red;
            }
        }
    }

    .nav.nav-tabs {
        padding-bottom: 0.7rem;

        .nav-link {
            font-family: Francisco-500;
            font-size: 1.125rem;
            line-height: 1.325rem;
            color: $color-tab;
            position: relative;
            transition: 0.5s;

            &.active {
                color: $color-black-max;
                background: none;
                border: none;

                &:after {
                    content: '';
                    border-bottom: 3px solid $color-yellow-bold;
                    position: absolute;
                    width: 45%;
                    bottom: -0.8rem;
                    left: 8%;
                }
            }
        }
    }

    .tab-content{
        margin-top:1.5rem;
        padding-left:1rem;
        margin-bottom:2rem;
    }
}
/* /product detail */

/* select color */
.table-paint{
    .card{
        a{
            padding:0.5rem 0;
        }
        .card-body{
            position:relative;
            &:before{
                content:'';
                border-top:1px solid $color-gray-regular;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                z-index:5;
            }
        }
    }
}
/*  /select color*/

/*  list post  */
.List-post {
    .card {
        border:none;
        .card-body {
            .subject {
                a {
                    font-family: Francisco-500;
                    font-size: 0.875rem;
                    line-height: 1.1rem;
                    color: $color-black-max;
                }
            }

            .content {
                font-family: Francisco-400;
                font-size: 0.875rem;
                line-height: 1.1rem;
                color: $color-gray;
            }
        }
    }
}
/* /list post */

/* footer */
.footer {
    font-family: Francisco-400;

    .footer-start {
        background: $color-brown-bold;
        padding-top: 2rem;

        .title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.4rem;
            color: $color-white;
            margin-bottom: 1.125rem;
        }

        .input-group {
            margin-left: auto;
            margin-right: auto;
            width: 46%;
            position: relative;
            margin-bottom: -1.5rem;
            display: flex;

            .form-control {
                position: relative;
                max-width: 100%;
                padding: 0.75rem 2.5rem;
                border-radius: 0;
                background: $color-white;
                height: 100%;
                font-size: 0.875rem;
                line-height: 1.375rem;
                color: $color-gray;

                &:focus {
                    box-shadow: none;
                }
            }

            .btn-post-email {
                right: 0;
                padding: 0.75rem 2.5rem;
                z-index: 10;
                background: $color-yellow-bold;
                top: -1px;
                transition: 0.5s;
                color: $color-white;
                border-radius: 0;
                font-size: 0.875rem;
                line-height: 1rem;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    background: $color-blue;
                }
            }
        }
    }

    hr {
        border-top: 1px solid #CDCDCD;
        margin-bottom: 2rem;
    }

    .footer-end {
        background: $color-black;
        padding-top: 3.55rem;
        padding-bottom: 2rem;
        color: $color-white;

        .title {
            font-family: Francisco-500;
            font-size: 1rem;
            line-height: 1.4rem;
            margin-top: 2rem;
            color: $color-white;
        }

        .support {
            margin-top: 0.7rem;

            .phone-number {
                margin-bottom: 1.4rem;
            }

            .address {
                margin-bottom: 2rem;
            }

            a {
                color: $color-white;
                font-family: Francisco-500;
                font-size: 1rem;
                line-height: 1.4rem;
                transition: 0.5s;

                &:hover {
                    font-size: 1.2rem;
                }
            }

            .icon-group {
                margin-bottom: 2.5rem;

                a {
                    transition: 0.2s;

                    &:hover {
                        font-size: 1rem;
                        color: $color-yellow-bold;
                    }
                }
            }
        }

        ul {
            padding: 0;
            margin-top: 0.9rem;

            li {
                list-style: none;

                a {
                    color: $color-white;
                    font-style: normal;
                    font-size: 0.8rem;
                    line-height: 1.4rem;
                    transition: 0.5s;

                    &:hover {
                        font-size: 1.1rem;
                        text-decoration: none;
                    }
                }
            }

            li:not(:last-child) {
                margin-bottom: 6px;
            }
        }

        .contact {
            margin-top: 1rem;
        }
    }
}
/* /footer */
@media(max-width:1024px){
    .header-top {
        .top {  
            .btn-phone-number { 
                font-size: 0.5rem;
                line-height: 1.2rem; 

                span { 
                    font-size: 1rem;
                }
            }
        }
    }

    .banner-menu {
        background: linear-gradient(90deg, #00D29F 0%, #009CC7 12.5%, #2E6CBA 29.17%, #85348D 47.4%, #D30164 65.1%, #D4662E 83.33%, #FFE300 100%);
          

        ul.list-group-horizontal {

            li {
                padding: 0.9rem 0.5rem;
            }
        }
    }
    .list-product,
    .body {
        .menu {
            width: 86%;
            margin-top: 0;
            padding-top: 1.3rem;

            ul.accordion {
                height: auto;
            }

            .category-panit {
                .title {
                    font-size: 1rem;
                }

                .media {
                    position: relative;
                    margin-bottom: 3rem;

                    &:not(:last-child):after {
                        content: '';
                        position: absolute;
                        border: 1px dashed #CDCDCD;
                        width: 100%;
                        bottom: -1.75rem;
                    }

                    a { 

                        img {
                            width: 4rem;
                            height: 4rem; 
                            object-fit:contain
                        }
                    } 
                    .media-body {
                        .content {
                            a { 
                                font-weight: 400;
                                font-size: 0.8rem;
                                line-height: 1.1rem; 
                            }
                        }
                         
                    }
                }
            }
        }

        .breadcrumb {
            background: none;

            a {
                font-family: Francisco-400;
                font-size: 1rem;
                line-height: 1.2rem;
                color: #838383;

                &:after {
                    content: "/";
                    margin-left: 0.7rem;
                    margin-right: 0.3rem;
                }
            }

            span {
                color: #D7C18B;
                margin-top: -2px;
            }

            &.table-paint {
                span {
                    color: #838383;
                }
            }
        }
    }
    ul.accordion {

        li.list-title {
            padding: 0.8rem .625rem 0.8rem 1.2rem;
        }

        li {
            padding: 0.4rem 0.625rem 0.4rem 1.2rem;

            a {
                font-family: Francisco-400;
                font-size: 1rem;
                line-height: 1.2rem;
                color: $color-gray-bold;

                i {
                    background: none;
                    color: $color-gray-bold;
                    outline: none;
                    font-size: 1rem;
                }
            }
        }
    }

    .feed-back {
        .title {
            font-size: 2rem;
            line-height: 2.4rem;
            margin-bottom: .5rem;
        }

        .icon {
            margin-bottom: 2rem;
            font-size: 1.8rem;
        }

        #carouselExampleControls {
            padding-top: 4.2rem;
            padding-bottom: 6rem;
            max-width: 50%; 

            .content {
                margin-top: 1.5rem;
                margin-bottom: 2.4rem;
            }
        }
    }
}

@media(max-width:768px){
    html{
        font-size:14px;
    }
    .header-top {
        .top { 

            .input-group { 

                .input-group-prepend {
                    width: 40%; 
                } 
            }
        }
    }
    .footer {
        font-family: Francisco-400;

        .footer-start { 

            .title { 
                font-weight: 500; 
            }

            .input-group { 
                width: 80%; 
            }
        } 
    }
    .category-panit {
        margin-bottom: 2.8rem;

        .title { 
            font-family: Francisco-500;
            font-size: 1rem;
            line-height: 1.5rem;

            &:after {
                content: '';
                position: absolute;
                border-top: 2px solid $color-yellow-bold;
                bottom: -.8rem;
                width: 15%;
                z-index: 5;
                left: 0;
            }

            a {
                font-family: Francisco-400;
                font-size: 0.7rem;

                &.childrent {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }

    #menu-mobile { 
        width: 40%;
    }
    .list-product {
        .banner-parents {

        }
    }
    .card { 
        .card-body {  
            .product-name {  
                a { 
                    font-size: .8rem;
                    line-height: 1rem; 
                }
            }

            .product-price { 
                font-size: 1rem; 
            }
        }
    }
}
@media(max-width:576px){
    header { 
        padding-left:0.4rem;
        padding-right:0.4rem; 
    }
    .mr-20 {
        margin-right: 1rem;
    }
    #menu-mobile {
        width: 60%;
    }
    .feed-back {
        background-image: none;

        .title {
            font-size: 1.6rem;
            line-height: 2rem;
        }

        .icon {
            margin-bottom: 1.75rem;
        }

        #carouselExampleControls {
            padding-top: 4rem;
            padding-bottom: 4rem;
            max-width: 100%; 
            .content {
                margin-top: 1.25rem;
                margin-bottom: 1.8rem;
            }
        }
    }
    .footer {
        font-family: Francisco-400;

        .footer-start {

            .title {
                font-weight: 500;
            }

            .input-group { 
                width: 100%; 
            }
        }
    }
    .category-panit {
        margin-bottom: 2.8rem;

        .title {
            position: relative; 
            font-size: .8rem;
            line-height: 1.2rem; 

            &:after {
                content: '';
                position: absolute;
                border-top: 2px solid $color-yellow-bold;
                bottom: -.8rem;
                width: 15%;
                z-index: 5;
                left: 0;
            }

            a {
                font-family: Francisco-400;
                font-size: 0.7rem; 

                &.childrent {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}